@model MeatFillingMainVM
@{
    ViewData["Title"] = "تجهيز حفر اللحم";
    int index = 1;
}

<section>
    <header>
        <div style="display: flex; align-items: center; padding: 0px 10px">
            <i class="fa-solid fa-bars-staggered menu-slider"></i>
            <h3>تجهيز حفر اللحم</h3>
        </div>
    </header>

    <!-- Search -->
    <div class="search">
        <input type="search" name="search" placeholder="بحث" />
        <button>اضافة تجهيز</button>
    </div>

    <!-- Modal for Add Product -->
    <div id="modal">
        <div class="modal-content">
            <div class="close_modal">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <form method="post" id="meatFillingForm">
                <div class="form_wapper">
                    <input type="hidden" asp-for="MeatFillingRegisterVM.Id" />

                    <div class="FormControll">
                        <label asp-for="MeatFillingRegisterVM.HoleId">الحفر</label>
                        <select asp-for="MeatFillingRegisterVM.HoleId" required asp-items="@(new SelectList(Model.MeatFillingRegisterVM.Holes,"Id","Name"))">
                            <option value="">اختر الحفرة</option>
                        </select>
                    </div>
                    <div class="FormControll">
                        <label asp-for="MeatFillingRegisterVM.Date">التاريخ</label>
                        <input type="date" asp-for="MeatFillingRegisterVM.Date" required />
                    </div>
                    <div class="FormControll">
                        <label asp-for="MeatFillingRegisterVM.Nafr">عدد النفر</label>
                        <input type="text" asp-for="MeatFillingRegisterVM.Nafr" required
                               onkeypress="if (isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;" />
                    </div>
                    <div class="FormControll">
                        <label asp-for="MeatFillingRegisterVM.HalfNafr">عدد نص النفر</label>
                        <input type="text" asp-for="MeatFillingRegisterVM.HalfNafr" required
                               onkeypress="if (isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;" />
                    </div>
                    <div class="FormControll">
                        <label asp-for="MeatFillingRegisterVM.EndTime">وقت الفتح</label>
                        <input type="time" asp-for="MeatFillingRegisterVM.EndTime" />
                    </div>
                    
                </div>
                <div class="Buttons">
                    <button type="submit">حفظ</button>
                    <button type="button">الغاء</button>
                </div>
            </form>
        </div>
    </div>

    <!-- Tables -->
    <div class="table">
        <div class="container_table">
            <table id="myDataTable">
                <thead>
                    <tr>
                        <th>تسلسل</th>
                        <th>الحفرة</th>
                        <th>عدد النفر</th>
                        <th>عدد نص النفر</th>
                        <th>وقت الفتح</th>
                        <th>التاريخ</th>
                        <th>الحدث</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.MeatFillingGetVM)
                    {
                        <tr>
                            <td>@(index++)</td>
                            <td>@item.HoleName</td>
                            <td>@item.Nafr</td>
                            <td>@item.HalfNafr</td>
                            <td>@item.EndTime</td>
                            <td>@item.Date.ToShortDateString()</td>
                            <td>
                                <div class="container_Buttons">
                                    <button class="edit-button" data-id="@item.Id">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </button>
                                    <a type="button" asp-action="Delete" onclick="return confirm('هل أنت متأكد من حذف هذا التجهيز؟')" asp-route-id="@item.Id">
                                        <i class="fa-solid fa-trash"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        btn_add.addEventListener("click", (e) => {
            $("#MeatFillingRegisterVM_Id").val('');
            $("#MeatFillingRegisterVM_HoleId").val('');
            $("#MeatFillingRegisterVM_Nafr").val('');
            $("#MeatFillingRegisterVM_HalfNafr").val('');
            $("#MeatFillingRegisterVM_EndTime").val('');
            let today = new Date().toISOString().split('T')[0];
            $("#MeatFillingRegisterVM_Date").val(today);
        });
        $('.edit-button').on('click', function () {
            $.ajax({
                url: '/Owner/MeatFilling/GetData?id=' + $(this).data('id'),
                success: function (data) {
                    console.log(data);
                    $("#MeatFillingRegisterVM_Id").val(data.id);
                    var s = '<option value="">اختر الحفرة</option>';
                    for (var i = 0; i < data.holes.length; i++) {
                        s += '<option value="' + data.holes[i].holeId + '">' + data.holes[i].holeName + '</option>';
                    }
                    $("#MeatFillingRegisterVM_HoleId").html(s);
                    $("#MeatFillingRegisterVM_HoleId").val(data.holeId);
                    $("#MeatFillingRegisterVM_Nafr").val(data.nafr);
                    $("#MeatFillingRegisterVM_HalfNafr").val(data.halfNafr);
                    $("#MeatFillingRegisterVM_EndTime").val(data.endTime);
                    const dateValue = data.date.split('T')[0]; // Extract the date part (YYYY-MM-DD)
                    $("#MeatFillingRegisterVM_Date").val(dateValue);

                    modal.classList.add("open");
                },
                error: function () {

                }
            });

        });

        const form = document.getElementById('meatFillingForm');
        const hiddenInput = document.getElementById('MeatFillingRegisterVM_Id');

        form.addEventListener('submit', function (event) {
            if (hiddenInput.value) {
                form.action = '/Owner/MeatFilling/Edit';
            } else {
                form.action = '/Owner/MeatFilling/Create';
            }
        });


    </script>
}
