@model UserEditDto
@{
    ViewData["Title"] = "تعديل بيانات المستخدم";
}

<section>
    <header>
        <div style="display: flex; align-items: center; padding: 0px 10px">
            <i class="fa-solid fa-bars-staggered menu-slider"></i>
            <h3>تعديل بيانات مستخدم</h3>
        </div>
    </header>

    <div style="width: 90%; margin: 100px auto">
        <form method="post" asp-action="Edit">
            <div class="form_wapper"
                 style="
                      grid-template-columns: repeat(
                        auto-fit,
                        minmax(calc(95% / 3), 1fr)
                      );
                    ">
                <input type="hidden" asp-for="Id" />
                <div class="FormControll">
                    <label asp-for="Name">الاسم</label>
                    <input type="text"
                           asp-for="Name" placeholder="الاسم"
                           required />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="FormControll">
                    <label asp-for="PhoneNumber">رقم الهاتف</label>
                    <input type="text" onkeypress="if (isNaN(this.value + String.fromCharCode(event.keyCode) )) return false;"
                           asp-for="PhoneNumber" placeholder="رقم الهاتف"
                           required />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <div class="FormControll">
                    <label asp-for="Email">البريد الالكتروني</label>
                    <input type="email"
                           asp-for="Email" placeholder="البريد الالكتروني"
                           required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <div class="FormControll">
                    <label asp-for="Roles">المجموعات</label>
                    @for (int x = 0; x < Model.Roles.Count; ++x)
                    {

                        <input type="hidden" asp-for="@Model.Roles[x].Id">
                        <input type="hidden" asp-for="@Model.Roles[x].Name">
                        <label asp-for="@Model.Roles[x].Isselected">@Model.Roles[x].Name</label>
                        <input type="checkbox" asp-for="@Model.Roles[x].Isselected">

                    }
                    <span asp-validation-for="Roles" class="text-danger"></span>
                </div>
            </div>

            <div class="Buttons">
                <button type="submit"
                        style="background: var(--color-primary)">
                    حفظ
                </button>
                <a type="button" asp-action="Index" asp-controller="Users" asp-area="Managment">رجوع</a>
            </div>
        </form>
    </div>
</section>


